{%extends 'base.html'%} <!--Importação dos blocos do arquivo base-->
{% load static %} <!--Permite carregar diretamente algum arquivo estático-->

{%block 'titulo'%}DevCyber | Home{%endblock%} <!--Insere o título da página-->

{%block 'conteudo'%} <!--Insere o conteúdo dentro do body-->
    <header class="cabecalho">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="{% static 'assets/IMG/icone_devcyber.png' %}" alt="Logo da DevCyber" width="50px" height="50px">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <main>
      <section>
        <h1>
          Painel
        </h1>
        <p>
          Central de informações gerais
        </p>
      </section>

      <section class="valores">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Valor Euro</div>
          <div class="card-body">
            <p class="card-text">R$ 5,00 - € 1,00</p>
          </div>
        </div>

        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Valor Dólar</div>
          <div class="card-body">
            <p class="card-text">R$ 5,04 - US$ 1,00</p>
          </div>
        </div>

        <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
          <div class="card-header">Valor Libra</div>
          <div class="card-body">
            <p class="card-text">R$ 5,74 - £ 1,00</p>
          </div>
        </div>

        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">Valor Bitcoin</div>
          <div class="card-body">
            <p class="card-text">R$ 107.432,88 - 1 Bitcoin</p>
          </div>
        </div>
      </section>
    </main>
{%endblock%}