@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.caixa {
    width: 1200px;
    margin: 0 auto;
}

.banner {
    background: linear-gradient(rgba(0,0,0,.10), rgba(0,0,0.10)100%), url(../img/aurora.jpg);

    height: 250px;
    background-size: cover;

    display: flex;
    align-items: center;
    
}

.banner-titulo {
    color: gray;
}

.painel {
    padding: 2rem 1rem;
}

.painel-titulos {
    padding: 1rem 0;
}

.painel-titulos-h1 {
    font-size: 35px;
}

.painel-titulos-p {
    color: gray;
}

.painel-valores {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.painel-valores-link {
    text-decoration: none;
    color: white;
}

.painel-valores-link:hover {
    text-decoration: none;
    color: white;
}

.card {
    width: 23%;
    transition: 1s all;
}

.card:hover {
    transform: scale(1.1);
}

.card-header {
    font-weight: bold;
}

.painel-cotacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.painel-cotacoes-card {
    width: 40%;
    padding: 1rem 0;
}

.rodape {
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px 0;
}

.rodape-copyright, .rodape-assinatura {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width: 580px) {
    .caixa {
        width: 100%;
    }

    .banner {
        text-align: center;
    }

    .painel {
        padding: 1rem 0;
    }

    .painel-titulos {
        text-align: center;
    }

    .painel-valores {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100vw;
    }

    .painel-cotacoes {
        display: none;
    }
}

@media screen and (min-width: 581px) and (max-width: 1199px) {
    .banner-titulo {
        padding: 0 2rem;
    }

    .painel {
        padding: 1rem 2rem;
    }

    .painel-valores {
        flex-direction: column;
    }

    .card {
        width: 100vw;
    }

    .painel-cotacoes {
        flex-direction: column;
    }
}