<!--
    - Essa é uma página template para o HTML;
    - Com ela, não precisamos reescrever todo o código
    padrão do HTML em todas as páginas que criarmos;
    - Esses blocos diferentes funcionam como variáveis e atribuimos
    valores a eles a partir da extensão em outros arquivos HTML;
-->

{% load static %} <!--Permite carregar diretamente algum arquivo estático-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block 'titulo'%}{%endblock%}</title>
    <link rel="shortcut icon" type="imagex/png" href="{% static 'assets/IMG/icone_devcyber.png'%}">

    <!-- Reset da página -->
    <link rel="stylesheet" href="{% static 'assets/CSS/reset.css'%}">
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- CSS principal -->
    <link rel="stylesheet" href="{% static 'assets/CSS/styles.css'%}">
    <!-- CSS calculadora -->
    <link rel="stylesheet" href="{% static 'assets/CSS/calculadora.css'%}">
</head>
<body>
    {%block 'conteudo'%}{%endblock%}

    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- JavaScript principal -->
    <script src="{% static 'assets/JS/scripts.js'%}"></script>
</body>
</html>